## NOTE: Place all values in plain text form unless BASE64_ENCODED prefix is there and don't commit this file(it's added in gitignore already). Also, ensure that there is no empty config variable.

CLOUD_PROVIDER=
DOMAIN=

### [SSL Certificate]
SSL_CERTIFICATE_CA_CRT=
SSL_CERTIFICATE_TLS_CRT=
SSL_CERTIFICATE_TLS_KEY=

### [Repository configurations]
STAKATER_PLATFORM_SSH_GIT_URL=
STAKATER_PLATFORM_BRANCH=master
USER_MAIL=stakater@gmail.com
USER_NAME=stakater-user
REPO_ACCESS_TOKEN=OPTIONAL

### [External DNS]
BASE64_ENCODED_AWS_ACCESS_KEY_ID=
BASE64_ENCODED_AWS_SECRET_ACCESS_KEY=

### [IMC]
IMC_API_KEY=
IMC_ALERT_CONTACTS=

### [Nexus]
NEXUS_ADMIN_ACCOUNT_USER=user-admin
NEXUS_ADMIN_ACCOUNT_PASSWORD=L8TcnrwMytCFpAFe
NEXUS_CLUSTER_ACCOUNT_USER=cluster-admin
NEXUS_CLUSTER_ACCOUNT_PASSWORD=mrzUGWrD9buDYhMF

### [Keycloak]
KEYCLOAK_CLIENT_ID=stakater-online-platform
KEYCLOAK_CLIENT_SECRET=1ce66f91-2068-4f3d-9578-f03fa8259230
KEYCLOAK_DEFAULT_PASSWORD=zUPaZnEfmYpcdd6X
KEYCLOAK_DEFAULT_USERNAME=stakater-user
KEYCLOAK_DB_USER=admin
KEYCLOAK_DB_PASSWORD=L3VT3hBysLGtsJaZ
KEYCLOAK_PASSWORD=vuHBBDaVsS35jvF9

### [Jenkins]
BASE64_ENCODED_SLACK_CHANNEL=
BASE64_ENCODED_SLACK_WEBHOOK_URL=
BASE64_ENCODED_GITHUB_TOKEN=OPTIONAL
BASE64_ENCODED_GITLAB_TOKEN=OPTIONAL
BASE64_ENCODED_BITBUCKET_TOKEN=OPTIONAL
JENKINS_DOCKER_RELEASE_USERNAME=admin
JENKINS_DOCKER_RELEASE_PASSWORD=xJuAWjG4GzrCkPJU
JENKINS_LOCAL_NEXUS_USERNAME=admin
JENKINS_LOCAL_NEXUS_PASSWORD=LXwEkC4jZzQj3DHY
JENKINS_NEXUS_USERNAME=admin
JENKINS_NEXUS_PASSWORD=CN3B6uY998kpBFDd

### [Alertmanager]
SLACK_INFRA_ALERTS_WEBHOOK_URL=
SLACK_INFRA_ALERTS_CHANNEL=#stakater-platform-infra-alerts
SLACK_APPS_ALERTS_WEBHOOK_URL=
SLACK_APPS_ALERTS_CHANNEL=#stakater-platform-apps-alerts

### [Grafana]
GRAFANA_USERNAME=admin
GRAFANA_PASSWORD=CN3B6uY998kpBFDd